/* Homepage */
.home{  
    box-sizing: border-box;
    z-index: -3;
    background-color: #FEC006;
    display: flex;
    background: url(HomePage.png) no-repeat;
    background-size: cover;
    
}

.navbar{
position: fixed;
width: 100%;



background: rgba(196, 196, 196, 0.7);
}

.navbar-brand{


height: 30px;


font-family: 'Permanent Marker', cursive; 
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
  

color: #000000;
}

.About{

position: fixed;
left: 67%;
top: 24px;
bottom: 960px;

font-family: Permanent Marker;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.Gallery{

position: fixed;
left: 73%; 

top: 24px;
bottom: 960px;  

font-family: Permanent Marker;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.Experience{

position: fixed;
left: 81%;

top: 24px;
bottom: 960px;

font-family: Permanent Marker;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.Skills{
        
    position: fixed;
    left: 91%;
    
    top: 24px;
    bottom: 960px;
    
    font-family: Permanent Marker;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    }

.backjpg{
position: absolute;
z-index: 0;
width: 100%;
height: 411px;
left: 0px;
right: 0px;
top: 0px;
bottom: 613px;
}

.container2{
    text-align: center;
    width: 90%;
    margin-left: 1%;
}

.Q{
height: 50%;  
}

.A{
    margin-top: 4%;
}

.col1{
    margin-top: 0%;
    width: 33%;
}

.layer5{
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.5);
}

.quotes{
position: absolute;
left: 0px;

top: 160px;

z-index: 2;

font-family: Wild Youth;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 42px;
display: flex;
align-items: left;
text-align: left;

color: #FFFFFF;
}

.welcome{

position: absolute;
padding-top: 2%;
padding-left: 5%;

font-family: Work Sans;
font-style: normal;
font-weight: 800;
font-size: 80px;
line-height: 30px;
/* or 37% */

text-align: center;

color: #FFFFFF;
}

.welcomeb{

    position: absolute;
    padding-top: 25px;
    padding-left: 86px; 
    
    font-family: Work Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 30px;
    /* or 37% */
    
    text-align: center;
    
    color: #000000;
    }

.tomy{
position: absolute;
left: 648px;
top: 425px;

font-family: Work Sans;
font-style: normal;
font-weight: 800;
font-size: 80px;
line-height: 30px;
/* or 37% */

text-align: center;

color: #FFFFFF;
}

.tomyb{
position: absolute;

left: 655px;
top: 419px;

font-family: 'Work Sans', sans-serif;

font-weight: 800;
font-size: 80px;
line-height: 30px;
/* or 37% */

text-align: center;

color: #000000;

}

.check{
    position: absolute;
    left: 34%;
    top: 77%;
    
    font-family: Muli, sans-serif;
    font-weight: 800;
    font-size: 35px;
    line-height: 30px;
    /* or 75% */
    
    text-align: center;
    
    color: #fec006;
    
    transform: rotate(-90deg);
}

.line{
position: absolute;
height: 14px;
width: 209px;
left: 35%;
top: 77%;


background-color: #000000;
transform: rotate(-90deg);
}

.about{
    position: absolute;
    font-family: Work Sans;
    font-style: normal;
    
    font-size: 40px;
    text-align: center;
    margin: -50px 100px;
    
    left: 37%;
    top: 70%;
    color: #FFFFFF;
    
}

.gallery{
    position: absolute;
    font-family: Work Sans;
    font-style: normal;
    
    font-size: 40px;
    text-align: center;
    margin: -50px 100px;
    
    left: 37%;
    top: 80%;
    color: #ffffff;

}

.experience{
    position: absolute;
    font-family: Work Sans;
    font-style: normal;
    
    font-size: 40px;
    text-align: center;
    margin: -50px 100px;
    
    left: 37%;
    top: 90%;
    color: #FFFFFF;

}

.aboutb{
    position: absolute;
    font-family: Work Sans;
    font-style: normal;
    
    font-size: 40px;
    text-align: center;
    margin: -50px 100px;
    
    left: 574px;
    top: 551px;
    color: #000000;
    
}

.galleryb{
    position: absolute;
    font-family: Work Sans;
    font-style: normal;
    
    font-size: 40px;
    text-align: center;
    margin: -50px 100px;
    
    left: 575px;
    top: 630px;
    color: #000000;

}

.experienceb{
    position: absolute;
    font-family: Work Sans;
    font-style: normal;
    
    font-size: 40px;
    text-align: center;
    margin: -50px 100px;
    
    left: 574px;
    top: 709px;
    color: #000000;

}

/* About */

    .AAA{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        background: url(About.png) no-repeat;
        background-size: cover;
        
        background-color: #009587;
        
        }
    .W{
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 128px;
    }

    .nama{
    font-family: 'Muli', sans-serif;
    font-size: 47px;
    padding-top: 15%;
    color: white;
    }

    .work{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    }

    .desc{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 400;
    }

    .title{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color:black;  
        padding-top: 5%;
        line-height: 300%;
    }

/* GALLERY */

.GAL{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    background: url(Gallery.png) no-repeat;
    background-size: cover;
    
    background-color: #009587;
    
    }

/* Experience */

    .expe{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    background: url(Experience.png) no-repeat;
    background-size: cover;
    
    background-color: #009587;
    
        }

    .title1{
    padding-left: 0%;
    font-family: 'work sans', sans-serif;
    font-weight: 500;
    font-size: 22px;

    }

    .comp{
        padding-left: 21%;
        font-family: 'work sans', sans-serif;
        font-weight: 500;
        font-size: 22px;
    }

    .isi{
        padding-left: 0%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
            
    }

/* Skills */

.skill{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    background: url(Skills.jpg) no-repeat;
    background-size: cover;
    
    background-color: #009587;
    
    }

.img{
    margin-left: 60%;
}

.title3{
    padding-right: 50%;
}

